* {
    margin: 0;
    padding: 0;
}
/* .nav {
    background: #008c7a;
    height: 70px;
} */

 .left-box {
    float: left;
  
    display: flex;
}
/* .nav .left-box .logo {
    padding-top: 10px;
    height: 60px;
    width: auto;
    clear: both;
}
.nav .left-box .logo img{
    height: 50px;
}
.nav .left-box .menu {
    clear: both;
}
.nav .left-box .menu ul {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 50px;
}

.nav .left-box ul li {
 
    margin: 0 15px;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}s
.nav .left-box ul li.acitve {
    border-bottom: 3px solid white;
} */

  .right-box {
    float: right;
}
/* .nav .right-box ul {
    color: white;
    display: flex;
 
}
.nav .right-box ul li {
    height: 70px;
    line-height: 70px;
  
    margin-left: 10px;
}
.nav .right-box ul li img {
    width: 22px;
}
.nav .right-box ul li.odd {
    cursor: pointer;
} */
.search {
    height:100px;
    line-height: 100px;
    margin-top: 10px;
}
.search .left-box,
.search .right-box
{
    display: flex;
    
}

.search .left-box{
  padding-top:28px;
  height:68px;
}
.search .right-box{
    height: 80px;
    line-height: 80px;
    color: #9d9d9d;
}
.search .address {
    width: 100px;
}
.search .address  .form-control{
    border-radius:5px  0px 0px 5px;
}
.search .search-box {
    width: 250px;
    margin-left: -1px;
}


.form-control {
  display: block;
  width: 100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height: 2px;
  color: #333333;
  background-color:#FFFFFF;

}
.search .button{
 background:#0AAF95;
 height:34px;
 border-radius:0px  5px 5px 0px;
}
.search .button img{
    height: 20px;
}
.search-input {
    border-radius:0px ;
   
}

.form-control{
    transition:none;
}

.search .medium{
    /* width: 100px; */
    margin-left: 60px;
    height: 36px;
    line-height: 36px;
}
.search .district svg,
.search .medium svg{
    color:#c7c7c7 ;
	margin-left: 10px;
}
.search .district{
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.search  .qr-code{
 
}
.search  .qr-code img{
  width: 70px;
}
.search  .scan{
    color: #9d9d9d;
    margin-left: 10px;
    /* margin-right: 30px; */
}
.search .list{
    margin-left: 20px;
}
.search .list img{
    width: 20px;
    margin-top: -5px;
}
.search  .list-text{
    margin-left: 6px;
}
.search .collect {
    margin-left: 20px;
}
.search .collect img{
    width: 18px;
    margin-top: -3px;
}
.search .collect-text{
   cursor: pointer;
    margin-left: 6px;
}
.map{
    display: flex;
    overflow:visible;
}
.map > .left-box{
   flex: 1;
  }
 .map   .left-box img{
      width: 100%;
      display: block;
  }  
.map  > .right-box{
     width: 430px;
}

.map  > .right-box > dl > dt{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px #EAEAEA solid;
	border-top: 1px #EAEAEA solid;
    width: 100%;
    /* margin: 0 10px; */
}
.map  > .right-box  > dl > dt  .hotspot{
    text-indent: 10px;
}



.map .put-in{
    border: 1px solid #0AAF95;
    border-radius: 5px;
    padding:0px 10px;
    margin-top: 12px;
    color: #0AAF95 ;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right:7px;
    cursor: pointer;
}


.map  > .right-box >dl > dd{
  display: flex;
  margin-top: 20px;
  overflow:visible;
  height: auto;
  border-bottom: 1px #EAEAEA solid;
	padding-bottom: 8px;
	
}

.map  > .right-box >dl > dd .form-check{
    margin-top:34px;
	margin-right: 8px;
	margin-left: 16px;
}

.input[type='checkbox']
{
	
	outline: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    line-height: 18px;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #C8C8C8;
    cursor: pointer;
}
.map  > .right-box >dl > dd .advertising img{
  width: 120px;
}

.map  > .right-box >dl > dd .info{
    /* background: red; */
    height: 95px;
    flex: 1;
    position: relative;
	margin-left: 12px;
}
.map  > .right-box >dl > dd .info .title{
  position: absolute;
  left: 5px;

}
.map  > .right-box  >dl > dd .info .collect{
    position: absolute;
    right:  10px;
    top: -4px;
  }
  .map  > .right-box  >dl > dd .info .collect img{
      width: 16px;
  }

  .map  > .right-box  >dl > dd .info .occupation{
    position: absolute;
    left:  5px;
    top: 40px;
    width: 200px;
  }
  .map  > .right-box  >dl > dd .info .occupation dl{
      display: flex;
      font-size: 14px;
      margin: 0;
      padding: 0;
      height: 24px;
      line-height: 20px;
  }
  .map  > .right-box  >dl > dd .info .occupation dt{
   width: 42px;
   font-size: 14px;
   margin: 0;
   padding: 0;
   color: #888;
  }
  .map  > .right-box  >dl > dd .info .occupation   dd{
    font-size: 14px;
    flex: 1;
    margin: 0;
    padding: 0;
  }


  .map  > .right-box  >dl > dd .info    .price-box{
    position: absolute;
    right :  10px;
    bottom:11px;
    width: 200px; 
    color: #ff964b;
    text-align: right;
    /* background: red; */
    font-size: 14px;
  }
  .map  > .right-box  >dl > dd .info    .price-box .price{
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    .search .medium{
        margin-left: 5%;
    }
    .search .district{
        margin-left: 2%;
    }
    .search .list{
        margin-left: 10px;
    }
    .search .qr-code{
        margin-left: 10px;
    } 
    .search .scan{
        width: 100px;
    }

}


  @media screen and (max-width: 900px) {
    .search .address{
        margin-left: 10px;
        width: 90px;
    }
    .search .search-box{
        width: 90px;
        
    }
    .search .left-box{
        width: 100%;
    }
    .search .right-box{
        margin: 10px 0;
        width: 100%;
    }
    .map{
        display: block !important;
        
    }
    .map > .left-box{
        width: 100%;
    }
    .map > .right-box{
        margin-top: 10px;
        width: 100%  !important;
    }

}