* {
    margin: 0;
    padding: 0;
}

/* .nav {
    background: #008c7a;
    height: 70px;
} */

dl {
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.left-box {
    float: left;

    display: flex;
}

/* .nav .left-box .logo {
    padding-top: 10px;
    height: 60px;
    width: auto;
    clear: both;
}
.nav .left-box .logo img{
    height: 50px;
}
.nav .left-box .menu {
    clear: both;
}
.nav .left-box .menu ul {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 50px;
}

.nav .left-box ul li {
 
    margin: 0 15px;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}s
.nav .left-box ul li.acitve {
    border-bottom: 3px solid white;
} */

.right-box {
    float: right;
}

/* .nav .right-box ul {
    color: white;
    display: flex;
 
}
.nav .right-box ul li {
    height: 70px;
    line-height: 70px;
  
    margin-left: 10px;
}
.nav .right-box ul li img {
    width: 22px;
}
.nav .right-box ul li.odd {
    cursor: pointer;
} */
.search {
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    display: flex;
}

.search {
    display: flex;
}

.search .left-box,
.search .right-box {
    display: flex;

}

.top {
    clear: both;
}

.top .right-box {
    margin-left: 60px;
}


.search .left-box {
    /* padding-top:28px; */
    height: 68px;
}

.top .left-box {
    /* padding-top:28px; */
    height: auto !important;
    overflow: visible !important;
}

.search .right-box {
    height: 60px;
    line-height: 50px;
    color: #9d9d9d;
    width: 280px;

    position: relative;
    right: -300px;
    
}
.search .right-box > div{
    float:right;
}

.search .address {
    width: 100px;
}

.search .address .form-control {
    border-radius: 5px 0px 0px 5px;
}

.search .search-box {
    width: 250px;
    margin-left: -1px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2px;
    color: #333333;
    background-color: #FFFFFF;

}

.search .button {
    background: #0AAF95;
    height: 34px;
    border-radius: 0px 5px 5px 0px;
}

.search .button img {
    height: 20px;
}

.search-input {
    border-radius: 0px;

}

.form-control {
    transition: none;
}

.search .medium {
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
}

.search .select-box .district svg,
.search .select-box .medium svg {
    color: #c7c7c7;
    margin-left: 10px;
}

.search .district {
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.search .qr-code {}

.search .qr-code img {
    width: 40px;
}

.search .scan {
    color: #9d9d9d;
    margin-left: 10px;
    /* margin-right: 30px; */
}

.search .list {
    margin-left: 20px;
}

.search .list img {
    width: 20px;
    margin-top: -5px;
}

.search .list-text {
    margin-left: 6px;
}

.search .collect {
    margin-left: 20px;
}

.search .collect img {
    width: 18px;
    margin-top: -3px;
}

.search .collect-text {
    cursor: pointer;
    margin-left: 6px;
}

.map {
    display: flex;
    overflow: visible;
    clear: both;
}

.map .search {
    position: absolute;
    z-index: 2;

}

.map>.left-box {
    flex: 1;
    height: calc(100vh - 207px);
    position: relative;
    /* top: -10px; */
}

.map>.left-box .circle {
    width: 80px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50px;
    right: 10px;
    background: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    

}

.map>.left-box .select-box {
    background: white;
    width: 240px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;

}

.map .left-box .map-box {
    width: 100%;
    display: block;
    /* position: absolute;
      z-index: -1; */
}

.map>.right-box {
    width: 430px;
}

.map>.right-box>dl>dt {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px #EAEAEA solid;
    border-top: 1px #EAEAEA solid;
    width: 100%;
    /* margin: 0 10px; */
}

.map>.right-box>dl>dt .hotspot {
    text-indent: 10px;

}


.map>.right-box>dl>.dd-box {
    /* background: red; */
    height: calc(100vh - 268px);
    overflow: auto;
    width: 100%;
}



.map .put-in {
    border: 1px solid #0AAF95;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 12px;
    color: #0AAF95;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 7px;
    cursor: pointer;
}


.map>.right-box>dl>.dd-box>dd {
    display: flex;
    margin-top: 20px;
    overflow: visible;
    height: auto;
    border-bottom: 1px #EAEAEA solid;
    padding-bottom: 8px;

}

.map>.right-box>dl>.dd-box dd .form-check {
    margin-top: 34px;
    margin-right: 8px;
    margin-left: 16px;
}

.input[type='checkbox'] {

    outline: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    line-height: 18px;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #C8C8C8;
    cursor: pointer;
}

.map>.right-box>dl>.dd-box dd .advertising img {
    width: 120px;
}

.map>.right-box>dl>.dd-box dd .info {
    /* background: red; */
    height: 95px;
    flex: 1;
    position: relative;
    margin-left: 12px;
}

.map>.right-box>dl .dd-box>dd .info .title {
    position: absolute;
    left: 5px;

}

.map>.right-box>dl .dd-box>dd .info .collect {
    position: absolute;
    right: 10px;
    top: -4px;
}

.map>.right-box>dl .dd-box>dd .info .collect img {
    width: 16px;
}

.map>.right-box>dl .dd-box>dd .info .occupation {
    position: absolute;
    left: 5px;
    top: 40px;
    width: 200px;
}

.map>.right-box>dl .dd-box>dd .info .occupation dl {
    display: flex;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 20px;
}

.map>.right-box>dl .dd-box>dd .info .occupation dt {
    width: 42px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #888;
}

.map>.right-box>dl>.dd-box dd .info .occupation dd {
    font-size: 14px;
    flex: 1;
    margin: 0;
    padding: 0;
}


.map>.right-box>dl .dd-box>dd .info .price-box {
    position: absolute;
    right: 10px;
    bottom: 11px;
    width: 200px;
    color: #ff964b;
    text-align: right;
    /* background: red; */
    font-size: 14px;
}

.map>.right-box>dl .dd-box>dd .info .price-box .price {
    font-size: 20px;
}

@media screen and (max-width:1100px) {
    .map-icons{
        display: none !important;
    }
    .map .right-box{
        display: block;
    }
    .top .right-box {
        display: none;
    }

    .map>.left-box .select-box {
        width: 220px;
    }

    .search .medium {
        margin-left: 5%;
    }

    .search .district {
        margin-left: 2%;
    }

    .search .list {
        margin-left: 10px;
    }

    .search .qr-code {
        margin-left: 10px;
    }

    .search .scan {
        width: 100px;
    }

}


@media screen and (max-width: 1100px) {
    .search .address {
        margin-left: 10px;
        width: 90px;
    }

    .search .search-box {
        width: 90px;

    }

    .search .left-box {
        width: 100%;
    }

    .search .right-box {
        margin: 10px 0;
        width: 100%;
    }

    .map {
        display: block !important;

    }

    .map>.left-box {
        width: 100%;

    }

    .map>.right-box {
        margin-top: 10px;
        width: 100% !important;
    }

}



.hader-keyword {
    height: auto;
    visibility: visible;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

.hader-keyword ul {
    height: auto;
    padding: 0px 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    overflow: visible;
    height: 300px;
}

.hader-keyword li {
    border: 1px solid #ccc;
    display: inline-block;
    color: #333;
    padding: 8px 20px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 15px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    padding: 0 20px;
    /* background: red; */
}

.hader-keyword li.active {
    background: rgb(34, 178, 187);
    color: white;
    border-color: rgb(34, 178, 187);
}


.map-side .map-icons {
    position: absolute;
    z-index: 101;
 

    /* left: 0px; */
    right: 0;
    width: 30px;
    height: 65px;
    margin-top: -33px;
    background-position: -10px -120px;
    cursor: pointer;
    z-index: 999;
    /* background: red; */

    position: absolute;
    top: 50%;
   
    transform: translateY( -50%);
    /* 使用css3的transform来实现 */
}


.map-icons {
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background-image: url(./image/map-icons.png);
    background-repeat: no-repeat;
}

.map-side .open{
    background-position: -49px -120px;
}