body{
    background: white;
}
.content{
     height: 272px;
     background: #F3F3F3;
}
 .left-box{
    float: left;

 }
 .right-box{
  float:right;
  
 }
 .back-view-box{
    height: auto;
 }
 .center  .right-box{
    height: auto;
   }
.center  .right-box{
    display: flex;
 
}  

.center  .left-box{
    margin-top: 90px;
	margin-left: 100px;
 }

 .back{
        font-size: 14px;
        background: #FFFFFF;
        border: 1px solid #0AAF95;
        border-radius: 5px; 
        width: 200px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-top: 116px;
 }
 .center  .left-box img{
     height: 90px;
     margin-right: 30px;
 }
 .center  .left-box {
     font-size: 26px;
 }

 .view{
    font-size: 14px;
    width: 200px;
    height: 40px;
    background: #0AAF95;
    box-shadow: 0 4px 12px 0 rgba(93,193,177,0.50);
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;   
    color: white;
    margin-left: 20px;
    
    margin-top: 116px;

 }


@media screen and (max-width: 768px) {

       .map >dl > dd{
        display: flex;
         padding: 0px; 
        overflow:visible;
        height: auto;
        border-bottom: 1px #DADADA solid;
        clear: both;
      }

    .content  dl{
        width: 90%;
    }
    .center  .left-box img{
        height: 10rem;
        margin-right: 30px;
    }
    .content{
         padding:0 10px;
    }

    .left-box{
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 0;
    
     }
     .right-box{
        width: auto;
        float: none;
        text-align: center;
        margin: 0 auto;
        display:flex;
           justify-content:center;
     }
     .center .left-box{
        margin-top: 0;
        padding-top: 80px;
        margin-left: 0px;
     }

     
  

     .center .left-box img{
        margin-top: 0;
     }
     .right-box .back{
         display: inline-block;
     }
     .right-box  .view{
     }
     .content{
        height: 472px;
        background: #F3F3F3;
   }
    

}



.content  dl dd ul li .form-control{
    background: #F3F3F3;
    /* border: none; */
}