 
* {
    margin: 0;
    padding: 0;
}
/* .nav {
    background: #008c7a;
    height: 70px;
} */
body{
    background: rgba(243, 243, 243,1);
}
 .left-box {
    float: left;
  
    display: flex;
}
.top{
    font-size: 20px;
    height: 70px;
    background: white;
    line-height: 70px;
    font-weight: 500;
}

 .list-box h2{
    font-size: 18px;
    font-weight: 400;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    height: 50px;
    line-height: 50px;
    /* margin-top: 10px; */
}
.list-box{
    background: white;
    overflow: visible;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    width: 100%;
    padding-top: 0;
}

/* .nav .left-box .logo {
    padding-top: 10px;
    height: 60px;
    width: auto;
    clear: both;
}
.nav .left-box .logo img{
    height: 50px;
}
.nav .left-box .menu {
    clear: both;
}
.nav .left-box .menu ul {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 50px;
}

.nav .left-box ul li {
 
    margin: 0 15px;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}s
.nav .left-box ul li.acitve {
    border-bottom: 3px solid white;
} */

  .right-box {
    float: right;
}
/* .nav .right-box ul {
    color: white;
    display: flex;
 
}
.nav .right-box ul li {
    height: 70px;
    line-height: 70px;
  
    margin-left: 10px;
}
.nav .right-box ul li img {
    width: 22px;
}
.nav .right-box ul li.odd {
    cursor: pointer;
} */

.search {
    height:100px;
    line-height: 100px;
    margin-top: 15px;
}
.search .left-box,
.search .right-box
{
    display: flex;
    
}

.search .left-box{
  padding-top:32px;
  height:68px;
}
.search .right-box{
    height: 100px;
    line-height: 100px;
    color: #9d9d9d;
}
.search .address {
    width: 100px;
}
.search .address  .form-control{
    border-radius:5px  0px 0px 5px;
}
.search .search-box {
    width: 150px;
    margin-left: -1px;
}
.search .button{
 background: #008c7a;
 height:34px;
 border-radius:0px  5px 5px 0px;
}
.search .button img{
    height: 20px;
}
.search-input {
    border-radius:0px ;
   
}

.form-control{
    transition:none;
}

.search .medium{
    /* width: 100px; */
    margin-left: 50px;
    height: 36px;
    line-height: 36px;
}
.search .district svg,
.search .medium svg{
    color:#c7c7c7 ;
}
.search .district{
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.search  .qr-code{
 
}
.search  .qr-code img{
  width: 100px;
}
.search  .scan{
    color: #9d9d9d;
    margin-left: 10px;
    /* margin-right: 30px; */
}
.search .list{
    margin-left: 20px;
}
.search .list img{
    width: 20px;
    margin-top: -5px;
}
.search  .list-text{
    margin-left: 6px;
}
.search .collect {
    margin-left: 20px;
}
.search .collect img{
    width: 18px;
    margin-top: -3px;
}
.search .collect-text{
   cursor: pointer;
    margin-left: 6px;
}
.map{
    display: flex;
    overflow:visible;
    /* margin-top: 20px; */
}
.map > .left-box{
   flex: 1;
  }
 .map   .left-box img{
      width: 100%;
      display: block;
  }  
.map  > .right-box{
     width: 430px;
}

 .map > dl{
    clear: both;
    width: 100%;
    overflow: visible;
}
.map > dl > dt{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #008c7a solid;
    width: 100%;
      margin-top: 10px;
    /* margin: 0 10px; */
}
.map  > dl > dt  .hotspot{
    text-indent: 10px;
}

.map > dl > dt .form-check{
    margin-left:9px;
}

.map > dl > dt ul{
    display: flex;
}



.map > dl > dt ul li{
    height: 49px;
    line-height: 49px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;


   
}

.map > dl > dt ul li.active{
    border-bottom:2px solid  #008c7a ;
    color:#0AAF95 ;
}




.map .put-in{
    border: 1px solid #008c7a ;
    border-radius: 5px;
    padding:0px 10px;
    margin-top: 5px;
    color: #008c7a ;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right:7px;
    cursor: pointer;
}

.map >dl {
    width: 100%;
}

.map >dl > dd{
  display: flex;
  padding: 10px;
  overflow:visible;
  height: auto;
  border-bottom: 1px #ccc solid;
  clear: both;
}


.top{
    font-size: 18px;
    height: 50px;
    background: white;
    line-height: 50px;
    font-weight: 500;
    text-indent: 10px;
}


.list-box h2{
    padding-top: 8px;
} 



.map    >dl > dd .form-check{
    /* margin-top:34px; */
    height: 180px;
    position: relative;
    width: 25px;
    margin-right: 6px;
}


.map    >dl > dd .form-check  input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.map >dl > dd .advertising img{
  /* width: 120px; */
  width: 292px;
  height: 180px;
}

.map    >dl > dd .info{
    /* background: red; */
    height: 180px;
    flex: 1;
    position: relative;
}
.map    >dl > dd .info .title{
  position: absolute;
  left: 10px;
  font-size: 24px;
}


.collect{
    font-size: 24px;
    height: 70px; 
}

.map     >dl > dd .info .collect{
    position: absolute;
    right:  10px;
    top: -4px;
    font-size: 24px;
 
  }
  .map     >dl > dd .info .collect img{
      width: 16px;
  }

  .map    >dl > dd .info .occupation{
    position: absolute;
    left:  10px;
    bottom: 0px;
    width: auto;
  }
  .map    >dl > dd .info .occupation dl{
      display: flex;
      font-size: 14px;
      margin: 0;
      padding: 0;
      height: 25px;
      line-height: 25px;
  }
  .map    >dl > dd .info .occupation dt{
   width: 70px;
   font-size: 14px;
   margin: 0;
   padding: 0;
   color: #888;
   margin-right: 4px;
  }
  .map   >dl > dd .info .occupation   dd{
    font-size: 14px;
    flex: 1;
    margin: 0;
    padding:0;
    
  }


  .map  >dl > dd .info    .price-box{
    position: absolute;
    right :  10px;
    bottom:-4px;
    width: 200px; 
    color: #ff964b;
    text-align: right;
    /* background: red; */
    font-size: 14px;
  }
  .map  >dl > dd .info    .price-box .price{
    font-size: 20px;
  }


  

  @media screen and (max-width: 768px) {
    .map    >dl > dd .info .occupation dl{
      
        height: 20px;
        line-height: 20px;
    }
    .map   >dl > dd .info .occupation   dd{
        font-size: 14px;
        flex: 1;
        margin: 0;
        padding: 0;
        
      }
    .list-box{
        /* background: white;
        overflow: visible; */
         padding: 0px; 
        /* box-sizing: border-box;
        margin: 10px auto; */
    }
    .search .medium{
        margin-left: 5%;
    }
    .search .district{
        margin-left: 2%;
    }
    .search .list{
        margin-left: 10px;
    }
    .search .qr-code{
        margin-left: 10px;
    } 
    .search .scan{
        width: 100px;
    }
    .map >dl > dd .advertising{
        width: 1.5rem;
        height:1.5rem;
    }
    .map >dl > dd{
        padding: 6px;
    }
    .map    >dl > dd .form-check{
        /* margin-top:34px; */
        height:1.4rem;
    }
    .map >dl > dd .advertising img{
        /* width: 120px; */
        width: 1.5rem;
        height:1.4rem;
      }

      .map >dl > dd .info{
          height: 1.4rem;
      }

      .map .occupation dl:nth-child(1){
          display: none !important;
      }
      .map   .occupation dl:nth-child(2){
        display: none !important;
      }

      .map  .occupation dl:nth-child(4){
        display: none !important;
      }
      .map >dl > dd .info .occupation dt{
          width: 41px;
      }

}


  @media screen and (max-width: 900px) {
    .search .address{
        margin-left: 10px;
        width: 90px;
    }
    .search .search-box{
        width: 90px;
        
    }
    .search .left-box{
        width: 100%;
    }
    .search .right-box{
        margin: 10px 0;
        width: 100%;
    }
    .map{
        display: block !important;
        
    }
    .map > .left-box{
        width: 100%;
    }
    .map > .right-box{
        margin-top: 10px;
        width: 100%  !important;
    }

}