* {
    margin: 0;
    padding: 0;
}
/* .nav {
    background: #008c7a;
    height: 70px;
} */
body{
    background-color: rgb(243, 243, 243); 
}

dl{
    margin: 0;
    /* margin-top: 5px; */
}
input[type='checkbox'] {
    margin-top: -3px;
    margin-right:3px;
    translate:scale(100);
    width:18px;
    height: 18px;
}
input[type='checkbox']:checked::before {
 
    font-size: 10px;
    
}

/* input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
   
} */

body{
    background: rgba(243, 243, 243,1);
}
 .left-box {
    float: left;
  
    display: flex;
}



.search {
     height:100px;
    line-height: 100px;
    margin-top: 10px;
}
.search .left-box,
.search .right-box
{
    display: flex;
    
}

.search .left-box{
  padding-top:22px;
  height:68px;
}
.search .right-box{
    height: 80px;
    line-height: 80px;
    color: #9d9d9d;
}
.search .address {
    width: 100px;
}
.search .address  .form-control{
    border-radius:5px  0px 0px 5px;
}
.search .search-box {
    width: 250px;
    margin-left: -1px;
}
.search .button{
 background: #008c7a;
 height:34px;
 border-radius:0px  5px 5px 0px;
}
.search .button img{
    height: 20px;
}
.search-input {
    border-radius:0px ;
   
}

.form-control{
    transition:none;
}

.search .medium{
    /* width: 100px; */
    margin-left: 50px;
    height: 36px;
    line-height: 36px;
}
.search .district svg,
.search .medium svg{
    color:#c7c7c7 ;
}
.search .district{
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.search  .qr-code{
 
}
.search  .qr-code img{
  width: 100px;
}
.search  .scan{
    color: #9d9d9d;
    margin-left: 10px;
    /* margin-right: 30px; */
}
.search .list{
    margin-left: 20px;
}
.search .list img{
    width: 20px;
    margin-top: -5px;
}
.search  .list-text{
    margin-left: 6px;
}
.search .collect {
    margin-left: 20px;
}
.search .collect img{
    width: 18px;
    margin-top: -3px;
}
.search .collect-text{
   cursor: pointer;
    margin-left: 6px;
}
.search-option{
    background: white;
    overflow: visible;
    padding: 30px ;
    margin-top: 20px;
    height: auto;
}
.search-option,
.search-option li,
.search-option dl{
    height: auto;
    overflow:visible;
}

.search-option dl{
      display: flex;
      font-size: 12px;
      /* line-height: 25px; */
      /* height:25px; */
}
.search-option dt{
     width: 70px;
     line-height: 40px;
     height:40px;
     font-size: 14px;
 
}
.search-option .dd-box{
    height: auto;
    overflow:visible;
    flex: 1;
}
 
.search-option dd{
     
     line-height: 40px;
     height:40px;
     display: inline-block;;
     margin: 0px 10px;
     font-size: 14px;
}

/* .nav .left-box .logo {
    padding-top: 10px;
    height: 60px;
    width: auto;
    clear: both;
}
.nav .left-box .logo img{
    height: 50px;
}
.nav .left-box .menu {
    clear: both;
}
.nav .left-box .menu ul {
    list-style: none;
    display: flex;
    color: white;
    margin-left: 50px;
}

.nav .left-box ul li {
 
    margin: 0 15px;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}s
.nav .left-box ul li.acitve {
    border-bottom: 3px solid white;
} */

  .right-box {
    float: right;
}
/* .nav .right-box ul {
    color: white;
    display: flex;
 
}
.nav .right-box ul li {
    height: 70px;
    line-height: 70px;
  
    margin-left: 10px;
}
.nav .right-box ul li img {
    width: 22px;
}
.nav .right-box ul li.odd {
    cursor: pointer;
} */
.search {
    /* height:100px;
    line-height: 100px; */
}
.search .left-box,
.search .right-box
{
    display: flex;
    
}

.search .left-box{
  height:68px;
}
.search .right-box{
    height: 76px;
    line-height: 76px;
    color: #9d9d9d;
}
.search .address {
    width: 100px;
}
.search .address  .form-control{
    border-radius:5px  0px 0px 5px;
}
.search .search-box {
    width: 250px;
    margin-left: -1px;
}
.search .button{
 background: #008c7a;
 height:34px;
 border-radius:0px  5px 5px 0px;
}
.search .button img{
    height: 20px;
}
.search-input {
    border-radius:0px ;
   
}

.form-control{
    transition:none;
}

.search .medium{
    /* width: 100px; */
    margin-left: 50px;
    height: 36px;
    line-height: 36px;
}
.search .district svg,
.search .medium svg{
    color:#c7c7c7 ;
}
.search .district{
    /* width: 100px; */
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.search  .qr-code{
 
}
.search  .qr-code img{
  width: 70px;
}
.search  .scan{
    color: #9d9d9d;
    margin-left: 10px;
    /* margin-right: 30px; */
}
.search .list{
    margin-left: 20px;
}
.search .list img{
    width: 20px;
    margin-top: -5px;
}
.search  .list-text{
    margin-left: 6px;
}
.search .collect {
    margin-left: 20px;
}
.search .collect img{
    width: 18px;
    margin-top: -3px;
}
.search .collect-text{
   cursor: pointer;
    margin-left: 6px;
}

.top{
    font-size: 14px;
    background: white;
    line-height: 70px;
    font-weight: 400;
    padding-top:10px;
}


.popular-elected{
    height: auto;
    overflow:visible;
    background: white;
    margin-top: 20px;
    padding-bottom: 20px;
}
.popular-elected h3{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-indent: 30px;
    padding-top: 10px;
}

 
.popular-elected ul li{
        width: 280px;
        height: 94px;
        padding: 15px;
        box-sizing:border-box;
        background: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(175,178,198,0.50);
        border-radius: 3.84px;
        /* float: left; */
         display: inline-block;
        margin-right: 15px;
}

.popular-elected ul li .elect-title{
     font-size: 14px;
     margin-bottom: 8px;
}

.popular-elected ul li .info{
    height: 19px;
    line-height: 19px;

}

.popular-elected ul li dl{
    display: flex;
}

.popular-elected ul li dl dd{
    flex: 1;
}

.popular-elected ul li dl dd img{
    width: 104px;
    height: 64px;
}
.popular-elected ul li dl dd .info span{
    font-size: 12px;
}

.popular-elected ul{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.popular-elected ul li dl dd .info span:nth-child(1){
    color: #8F8F8F;
}

 .list-box h2{
    font-size: 18px;
    font-weight: 400;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    /* margin-top: 10px; */
}
.list-box{
    background: white;
    overflow: visible;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
}

.map{
    display: flex;
    overflow:visible;
    /* margin-top: 20px; */
}


.map > .left-box{
   flex: 1;
  }
 .map   .left-box img{
      width: 100%;
      display: block;
  }  
.map  > .right-box{
     width: 430px;
}
.map > dl{
    clear: both;
    width: 100%;
    overflow: visible;
}
.map > dl > dt{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #ccc solid;
    width: 100%;
    margin-top: 10px;
    /* margin: 0 10px; */
}
.map > dl > dt .form-check{
    margin-left:9px;
}

.map > dl > dt ul{
    display: flex;
}



.map > dl > dt ul li{
    height: 49px;
    line-height: 49px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;

    /* height: 49px;
    line-height: 49px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;
	margin-top: 10px; */
}

.map > dl > dt ul li.active{
    border-bottom:2px solid  #0AAF95 ;
    color:#0AAF95 ; 
}

.map  > dl > dt  .hotspot{
    text-indent: 10px;
}



.map .put-in{
    border: 1px solid #0AAF95 ;
    border-radius: 5px;
    padding:0px 10px;
    margin-top: 5px;
    color: #0AAF95 ;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right:7px;
    cursor: pointer;
}

.map >dl {
    width: 100%;
}

.map >dl > dd{
  display: flex;
  /* padding: 26px; */
  overflow:visible;
  height: auto;
  border-bottom: 1px #DADADA solid;
  clear: both;
  padding: 20px;
}
.map >dl > dd:nth-child(2){
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
  padding-right: 10px;
}

.map    >dl > dd .form-check{
    /* margin-top:34px; */
    height: 180px;
    position: relative;
    width: 25px;
    margin-right: 6px;
}


.map    >dl > dd .form-check  input{
    position: absolute;
    top: 50%;
    left:0%;
    transform: translate(-50%,-50%);
}

.map >dl > dd .advertising img{
  /* width: 120px; */
  width: 292px;
  height: 180px;
}

.map    >dl > dd .info{
    /* background: red; */
    height: 180px;
    flex: 1;
    position: relative;
}
.map    >dl > dd .info .title{
  position: absolute;
  left: 18px;


}
.map     >dl > dd .info .collect{
    position: absolute;
    right:  10px;
    top: -4px;
  }
  .map     >dl > dd .info .collect img{
      width: 16px;
  }

  .map    >dl > dd .info .occupation{
    position: absolute;
    left:  10px;
    bottom: 0px;
    width: auto;
  }
  .map    >dl > dd .info .occupation dl{
      display: flex;
      font-size: 14px;
      margin: 0;
      padding: 0;
      height: 27px;
      line-height: 20px;
	  margin-left: 10px;
  }
  .map    >dl > dd .info .occupation dt{
   width: 70px;
   font-size: 14px;
   margin: 0;
   padding: 0;
   color: #A1A1A1;
   margin-right: 4px;
  }
  .map   >dl > dd .info .occupation   dd{
    font-size: 14px;
    flex: 1;
    margin: 0;
    padding: 0;
	margin-left: 16px;
  }


  .map  >dl > dd .info    .price-box{
    position: absolute;
    right :  10px;
    bottom:-4px;
    width: 200px; 
    color: #ff964b;
    text-align: right;
    /* background: red; */
    font-size: 14px;
  }
  .map  >dl > dd .info    .price-box .price{
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {


    .search-option dt{
        width: 70px;
        line-height: 30px;
        height:30px;
        font-size: 14px;
    
   }
   .search-option .dd-box{
       height: auto;
       overflow:visible;
       flex: 1;
   }
    
   .search-option dd{
        
        line-height: 30px;
        height:30px;
        display: inline-block;;
        margin: 0px 5px;
          font-size: 14px;
    
   }
   


    .search .medium{
        margin-left: 5%;
    }
    .search .district{
        margin-left: 2%;
    }
    .search .list{
        margin-left: 10px;
    }
    .search .qr-code{
        margin-left: 10px;
    } 
    /* .search .scan{
        width: 100px;
    } */


 

    .map >dl > dd .advertising{
        width: 1.5rem;
        height:1.5rem;
    }
    .map >dl > dd{
        /* padding: 6px; */
    }
    .map    >dl > dd .form-check{
        /* margin-top:34px; */
        height:1.4rem;
    }
    .map >dl > dd .advertising img{
        /* width: 120px; */
        width: 1.5rem;
        height:1.4rem;
      }

      .map >dl > dd .info{
          height: 1.4rem;
      }

      .map .occupation dl:nth-child(1){
          display: none !important;
      }
      .map   .occupation dl:nth-child(2){
        display: none !important;
      }

      .map  .occupation dl:nth-child(4){
        display: none !important;
      }
      .map >dl > dd .info .occupation dt{
          width: 41px;
      }

 

    .list-box{
        background: white;
        overflow: visible;
        padding: 0px;
        box-sizing: border-box;
        margin: 10px auto;
    }
    .list-box h2{
        padding-top: 8px;
    } 
    

}


  @media screen and (max-width: 900px) {
    .search .qr-code{
        margin-left: 10px;
    } 
    .top{
        font-size: 20px;
        height:220px;
        background: white;
        line-height: 70px;
        font-weight: 500;
        padding-top:10px;
    }
    .search .address{
        margin-left: 10px;
        width: 90px;
    }
    .search .search-box{
        width: 250px;
        
    }
    .search .left-box{
        width: 100%;
    }
    .search .right-box{
        margin: 10px 0;
        width: 100%;
        display: flex;
    }
    .map{
        display: block !important;
        
    }
    .map > .left-box{
        width: 100%;
    }
    .map > .right-box{
        margin-top: 10px;
        width: 100%  !important;
    }

}


@media screen and (max-width: 1280px) {
    /* .top{
        font-size: 18px;
        height: 50px;
        background: white;
        line-height: 50px;
        font-weight: 500;
        text-indent: 25px;
    } */
}



.list-box h2{
    padding-top: 8px;
} 



.map    >dl > dd .form-check{
    /* margin-top:34px; */
    height: 180px;
    position: relative;
    width: 25px;
    margin-right: 6px;
}


.map    >dl > dd .form-check  input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.map >dl > dd .advertising img{
  /* width: 120px; */
  width: 292px;
  height: 180px;
}

.map    >dl > dd .info{
    /* background: red; */
    height: 180px;
    flex: 1;
    position: relative;
}
.map    >dl > dd .info .title{
  position: absolute;
  font-size: 20px;
}


.collect{
    font-size: 24px;
    height: 70px; 
}

.map     >dl > dd .info .collect{
    position: absolute;
    right:  10px;
    top: -4px;
    font-size: 24px;
 
  }
  .map     >dl > dd .info .collect img{
      width: 16px;
  }

  .map    >dl > dd .info .occupation{
    position: absolute;
    left:  20px;
    bottom: 0px;
    width: auto;
  }
  .map    >dl > dd .info .occupation dl{
      display: flex;
      font-size: 14px;
      margin: 0;
      padding: 0;
      height: 25px;
      line-height: 25px;
  }
  .map    >dl > dd .info .occupation dt{
   width: 70px;
   font-size: 14px;
   margin: 0;
   padding: 0;
   color: #888;
   margin-right: 4px;
  }
  .map   >dl > dd .info .occupation   dd{
    font-size: 14px;
    flex: 1;
	  margin-left: 20px;
    padding:0;
    
  }

  @media screen and (max-width: 768px) {


    .popular-elected ul li{
       margin-bottom: 15px;
}
    .map    >dl > dd .info .occupation dl{
      
        height: 20px;
        line-height: 20px;
    }
    .map   >dl > dd .info .occupation   dd{
        font-size: 14px;
        flex: 1;
        margin: 0;
        padding: 0;
        
      }
    .list-box{
        /* background: white;
        overflow: visible; */
         padding: 0px; 
        /* box-sizing: border-box;
        margin: 10px auto; */
    }
    .search .medium{
        margin-left: 5%;
    }
    .search .district{
        margin-left: 2%;
    }
    .search .list{
        margin-left: 10px;
    }
    .search .qr-code{
        margin-left: 10px;
    } 
   
    .map >dl > dd .advertising{
        width: 1.5rem;
        height:1.5rem;
    }
    .map >dl > dd{
        padding: 6px;
    }
    .map    >dl > dd .form-check{
        /* margin-top:34px; */
        height:1.4rem;
    }
    .map >dl > dd .advertising img{
        /* width: 120px; */
        width: 1.5rem;
        height:1.4rem;
      }

      .map >dl > dd .info{
          height: 1.4rem;
      }

      .map .occupation dl:nth-child(1){
          display: none !important;
      }
      .map   .occupation dl:nth-child(2){
        display: none !important;
      }

      .map  .occupation dl:nth-child(4){
        display: none !important;
      }
      .map >dl > dd .info .occupation dt{
          width: 41px;
      }
      .search .scan,
      .search .collect-text 
      {
        font-size: 14px  ;
       
    }
    

}


  @media screen and (max-width: 900px) {
 
    .search .address{
        margin-left: 10px;
        width: 90px;
    }
    .search .search-box{
        width: 150px;
        
    }
    .search .left-box{
        width: 100%;
    }
    .search .right-box{
        margin: 10px 0;
        width: 100%;
    }
    .map{
        display: block !important;
        
    }
    .map > .left-box{
        width: 100%;
    }
    .map > .right-box{
        margin-top: 10px;
        width: 100%  !important;
    }

}